/* .statContainer{
  
}
 .stat-content{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:2rem;
}
.stat-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 25vw;
}
.stat-item .img{
 width: 25vw;
 height: 200px;

 
} */

.testContainer{
    max-width: 60%;;
     margin:0 auto;
     margin-bottom: 100px;
 }
 
 .slick-dots li button::before{
     color:lightblue;
     font-size: 12px;;
 }



