.qaContainer{
    margin-top:50px;
    margin-bottom: 100px;
}
.accordion-item{
    margin:30px;
    
}

.qaContainer .accordion-icon{
    transition: var(--transition);
    font-size: 25px;;
}
.qaContainer .accordion-title{
   
    cursor: pointer;
    background-color: var(--light-yellow);
    border-radius: 10px;;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
   
}

.qaContainer .item-body{
    margin-top: 16px;
    max-height: 0;
    overflow: hidden;
    transition: all 500ms linear;
    padding-left: 10px;;
}

.qaContainer .accordion-content{
    padding: 16px;


}

.qaContainer .accordion-icon:hover{
    transform: scale(1.5);
    transition: transform 0.5s ease-in-out;
}

  